.list-group-item {
    background: #e4fbc8;
    border: 1px solid #7bcf7d;
}

.list-group-item a {
    color: black;
}

.list-group-item:hover {
    background: #7bd34e;
}

#newspaper-list-create {
    font-size: 18px;
    font-weight: bold;
}

.create-form label {
    font-weight: bold;
    font-size: 18px;
}

.form-control {
    border: 1px solid gray !important;
    padding-left: 15px !important;
}
