{% extends "layouts/base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1 class="text-center pb-5">
    Newspaper List
    {% if user.is_authenticated %}
        <a href="{% url 'newspaper:newspaper-create' %}" id="newspaper-list-create" class="btn btn-outline-primary">
          add new
        </a>
    {% endif %}
  </h1>

  <form method="GET" class="m-3" action="{% url 'newspaper:newspaper-list' %}">
    {{ search_form|crispy }}
    {{ filter_form|crispy }}
    <button type="submit" class="btn btn-sm btn-primary">Search</button>
  </form>
  <hr>

  {% for newspaper in newspaper_list %}
    <div>
      <h3><a href="{% url 'newspaper:newspaper-detail' newspaper.id %}">{{ newspaper.title }}</a></h3>
      <p class="font-weight-bold">Topic: {{ newspaper.topic }}</p>
      <p>Publishers: {{ newspaper.publishers_to_str }}</p>
      <p class="text-muted">Created on: {{ newspaper.published_date }}</p>
    </div>

    <hr>
  {% empty %}
    <p>There are no newspapers yet.</p>
  {% endfor %}

{% endblock %}
