{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="col">
        <div class="m-3">
          <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-secondary mb-4 w-25">Back</a>
          <h1>{{ newspaper.title }}</h1>
          <p class="text-muted">{{ newspaper.publishers_to_str }} at {{ newspaper.published_date }}</p>
          <p>{{ newspaper.content_to_html|safe }}</p>
        </div>
    </div>
</div>
{% endblock %}
