{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="col">
        <div class="m-3">
          <a href="{% url 'newspaper:newspaper-list' %}" class="btn btn-secondary mb-4 w-25">Back to newspapers</a>
          {% if user in newspaper.publishers.all or user.is_superuser %}
            <a href="{% url 'newspaper:newspaper-update' newspaper.id %}" class="btn btn-warning mb-4 w-25">Edit</a>
          {% endif %}
          {% if user.is_superuser %}
            <a href="{% url 'newspaper:newspaper-delete' newspaper.id %}" class="btn btn-danger mb-4 w-25">Remove</a>
          {% endif %}
          <h1>{{ newspaper.title }}</h1>
          <p class="text-muted">{{ newspaper.publishers_to_str }} at {{ newspaper.published_date }}</p>
          <p>{{ newspaper.content_to_html|safe }}</p>
        </div>
    </div>
</div>
{% endblock %}
